.searchByLetter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  color: #e8e0e0;

  .alphabet {
    cursor: pointer;

    display: flex;
    flex-flow: row wrap;
    gap: 4px;
    justify-content: center;

    margin: 0 35px 30px;

    span:last-child {
      color: var(--color-success-100);
    }

    .everyLetter {
      color: var(--color-success-100);

      &:hover {
        color: var(--color-success-900);
        text-decoration: underline;
      }
    }
  }
}
