.extra-large,
.large,
.medium,
.small {
  font-weight: var(--font-weight-regular);
}

.extra-large_bold,
.large_bold,
.medium_bold,
.small_bold {
  font-weight: var(--font-weight-bold);
}

.extra-large,
.extra-large_bold {
  font-size: var(--font-size-xl);
}

.large,
.large_bold {
  font-size: var(--font-size-l);
}

.medium,
.medium_bold {
  font-size: var(--font-size-m);
}

.small,
.small_bold {
  font-size: var(--font-size-s);
}
