.rootCategories {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #e8e0e0;

  .oneOfCategory {
    display: flex;
    flex-flow: row wrap;
    gap: 5px;
    align-items: center;
    justify-content: center;

    margin: 0 15px;
  }
}
