.ingredientRoot {
  display: flex;
  flex-direction: row;
  gap: 15px;
  margin-bottom: 10px;

  .imagePart {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #e8e0e0;

    .image {
      img {
        cursor: pointer;
        max-width: 400px;
      }
    }
  }

  .mealsPart {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #e8e0e0;
  }
}

.modalContent {
  position: relative;

  img {
    cursor: pointer;
    max-width: 100%;
    height: auto;
  }
}

@media screen and (width<=870px) {
  .ingredientRoot {
    display: flex;
    flex-direction: column;
    gap: 0;
    align-items: center;

    padding: 0 10px;

    .imagePart {
      .image {
        img {
          max-width: 400px;
        }
      }
    }
  }
}

@media screen and (width <=430px) {
  .ingredientRoot {
    .imagePart {
      .image {
        img {
          max-width: 100%;
        }
      }
    }
  }
}
